<div class="row">
    <div class="col-md-6 text-left">
        {% if messages %}   
         <!--after html loads -> make axjax request to clear msg with delay after load 3 sec  -->
        <ul class="messages" hx-get="{% url 'city:clear' %}" hx-trigger="load delay:3s">
            {% for msg in messages %}
            <li {% if msg.tags%} class="{{msg.tags}}" {% endif %}>{{msg}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<div class="row">    
    <div class="col-md-8">
        <div>Hotel detail:</div>
        <div>
            Name: {{hotel.name}}            
        </div>
        <div>
            UNID: {{hotel.unid}}
        </div>
        <div>
            City: {{hotel.city}}
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-md-6">
        <button class="btn-lg btn-success rounded mt-3"  
        hx-get="{% url 'city:start-edit-hotel' unid=hotel.unid city_slug=hotel.city.slug %}"
        hx-target="#work-area">Edit
        </button>
    </div>
    <div class="col-md-6">
        <div class="del-hotel"            
            hx-delete="{% url 'city:delete-hotel' hotel.id hotel.city.slug %}"
            hx-target="#work-area"
            hx-confirm="Are you sure you wish to delete?">X</>
        </div>  
    </div>
</div>