{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_htmx %}
{% django_htmx_script %}

{% block content %}
<div class="container-fluid mt-5">
    <h5 class="text-center">Manage hotels in {{city}}</h5>
    <div class="row">
        <div class="col-md-6 text-sm-left text-lg-left">Dashboard</div>
        <div class="col-md-6 text-lg-left text-sm-left">#</div>
    </div>      
    
    <hr>
    <div class="row">
        <div class="col-md-3 hotel-menu text-left">
            <button hx-get="{% url 'city:manage-hotels' action='form'  %}" 
                    hx-target="#work-area"
                    class="add-hotel-btn mt-3 rounded">
                Add Hotel          
            </button>
            
        </div>            
        <div class="col-md-4 hotel-menu text-left">
            <button hx-get="{% url 'city:manage-hotels' action='hotels' %}" 
                    hx-target="#work-area"
                    class="add-hotel-btn mt-3 rounded">
                List Hotels          
            </button>
            
        </div>           
        <div class="col-md-5 hotel-menu text-left">Sort hotels</div>          
    </div>
    <hr>

    <div class="row">
        <div class="col-md-12  dinamic-content">
            <div id="work-area" class="justify-content-md-around">
                {% include '_partials/list_hotels.html' with hotels=hotels %}
            </div>            
                
        </div>  
    </div>
</div>
{% endblock %}    
               

        
         
        
            
            
       