{% extends '../base.html' %}
{% load static %}
{% block content %}
    <h1>Display cities</h1>  
    <div class="row">
        <div class="col-md-6">
            <h5>Search for hotels in a city</h5>            
            <form id="search-form" action="{% url 'city:city-hotels-search' %}">
                <div class="form-group">
                    <!-- dj-ajax select form -->
                    {{search_city_form.media}}
                    {{search_city_form}}
                </div>                
                <button type="submit" class="submit-btn rounded">Find city</button>
            </form>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                {% if cities %}
                    {% for city in cities %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">                                    
                    <strong>
                        <span class='black-link'>                        
                            <a class ='get-hotels' href="{% url 'city:city-hotels' city %}">{{city}}</a>                   
                        </span>
                    </strong>                    
                    <span class="badge badge-primary badge-pill pill-bg">{{city.hotels.count}}</span>
                    </li>
                    {% endfor %}
                {% else %}
                    <div class="empty">No cities</div>    
                {% endif %}     
                
            </ul>
        </div>              
    </div>     
    <div>        
       <div id="results"></div>        
        <div id="hotel-list" >            
        </div>
    </div>     
{% endblock %}

{% block js %}
<script type="text/javascript">
    // reqular ajax via tag <a>
    $(".get-hotels").on('click',function(e){
        e.preventDefault();
        let hotelList = $("#hotel-list");   
        hotelList.text("");
        let results = $("#results");       
        results.text("");

        let url = $(this).attr("href");
        let cityDiv= document.createElement("div")
        $.get(url,(response)=>{          
            let cityData = JSON.parse(response.city);            
            cityDiv.textContent = `Search results for: ${cityData.city}` ;   
            cityDiv.className = "result-bg"; 
            results.append(cityDiv)   
            let hotels = JSON.parse(response.hotels);            
                      
            hotels.forEach((item)=>{
                let wrapDiv = document.createElement('div');
                let hotelLink = document.createElement('a');                
                // from api point: name,id = item.id (can be used to create hotel detail url)
                hotelLink.setAttribute("href", "#");
                hotelLink.className='black'
                wrapDiv.className = 'hotel-content';
                hotelLink.textContent = item['name'];
                wrapDiv.append(hotelLink);
                hotelList.append(wrapDiv);
                
                
            })
            
            
        })
        
    })  
    // submit search form with auto-complete= dja-ajax -select package
    $('#search-form').on('submit',function(e){
        e.preventDefault();

        let hotelList = $("#hotel-list");
        hotelList.text("");
        let results = $("#results");       
        results.text("");

        let url = $(this).attr('action');
        let cityDiv= document.createElement("div")
        $.ajax({
            url:url,
            type:'GET',
            data:$(this).serialize(),
            success:function(resp){
                console.log(resp.city)
                let cityData = JSON.parse(resp.city);                          
                cityDiv.textContent = `Search results for: ${cityData.city}` ;   
                cityDiv.className = "result-bg"; 
                results.append(cityDiv);                
                let hotels = resp.hotels;                
                hotels.forEach((item)=>{
                let wrapDiv = document.createElement('div');
                let hotelLink = document.createElement('a');                
                // from api point: name,id = item.id (can be used to create hotel detail url)
                hotelLink.setAttribute("href", "#");
                hotelLink.className='black'
                wrapDiv.className = 'hotel-content';
                hotelLink.textContent = item['name'];
                wrapDiv.append(hotelLink);
                hotelList.append(wrapDiv);
            })

            },
            error:function(err){
                console.log("error",err)
            }
        })
    })
    
</script>
{% endblock %}
    
 
           
           
        
